div#quick-search {
  background-color: #DF0000;
  border: 1px solid #5F0000;
  border-top: 0px;
  width: 290px;
  position: absolute;
  text-align: left;
  padding: 3px;
  z-index: 10;
}

div#quick-search table tr td {
  padding: 2px;
  padding-right: 4px;
}

div#quick-search table tr td a.quick-search-item {
  vertical-align: middle;
  color: black;
}

div#quick-search table tr td a.quick-search-item-selected {
  color: white;
}

div#quick-search table tr td img {
  height: 92px;
}
